.loginSignup {
    height: 100vh;
	background-color: #00A693;
}

.containerLogSign {
    margin: auto;
    padding-top: 100px;
    align-items: center;
    height: 80vh;
    width: 1200px;
}

.logside {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.logsideb {
    padding-left: 200px;
}


.donasource {
    font-size: 36px;
    margin-bottom: 50px;
}

.donasourceInfo {
    font-size: 22px;
    margin-bottom: 50px;
}