#post-button-container{
    position: absolute;
    border: solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    left: 50%;
    top: 40%
    
}

#post-button{
    font-size: 45px;
    position: relative;
    bottom:20%;
}

#post-button-container:hover{
    background-color: gray; 
    cursor: pointer;
}

