

/* The whole page/screen */
#postModal{
    height: 100%;
    width: 100%;
    z-index: 2;

    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
}

/* Container of the Form /Box */
#postContainer{
    border: solid;
    display: inline-block;
    margin: 20px;
    width: 500px;
    border-radius: 10px;
      
}

/* Upper part of the container */
#form-buttons{
    padding: 10px;
    border-bottom: solid;
    position: relative;
    
}
#postBtn{
    position: absolute;
    top:40%;
    right: 5%;  
}

#closeBtn{
    font-size: 30px;
}

#closeBtn:hover{
    color: gray;
    cursor: pointer;
}
/* Lower part of the container */
#postForm{
    display: table;
    padding:  0px 30px;
    border-spacing: 0px 15px;
}

#request,#donate{
    display: none;
}

#request-span, #donate-span{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow:  0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17) ;
}


#request-span:hover, #donate-span:hover{
    background-color: lightgray;
}

.formInput{
    display: table-row;
}

.formInput label, input{
    display: table-cell;
}
.formInput input,textarea{
    margin: 0px 30px;
}

.formInput textarea{
    resize: none;
}

